html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='./styles/style.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js')
        title QuadB
    body.dark
        div.font-sans.bg-gray-800
            header.bg-gray-800.text-white.pt-4.px-2
                ul.flex.justify-between.items-cente.items-center
                    li.p-2.ml-4.flex-auto
                        div 
                            div 
                                span.text-3xl.text-green-300 HODLINFO
                                span.text-xl .com
                            div 
                                span Powered By 
                                span.text-green-300 Finstreet
                    li.p2.flex-1
                        select#currency_from(name="currency_from").select-styles
                            option.appearance-none.rounded-xl(value="INR") INR
                        select#currency_from(name="currency_from").select-styles 
                            option(value="BTC") BTC
                    l1.p2.mr-4.flex-1
                        div.flex.justify-around.items-center
                            div#timer.border-2.rounded-full.h-8.w-8.text-center.border-green-300.text-green-300 #{timer}
                            div.flex.justify-center.bg-green-300.px-4.py-2.rounded-lg
                                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="telegram-plane" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-6 h-6"><path fill="currentColor" d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"></path></svg>
                                p Connect Telegram 
                            div
                                div.switch
                                    input#switch-1.switch-input(type='checkbox' name="themeChange")
                                    label.switch-label(for='switch-1') Switch
            main
                table(class=' border-separate border-spacing  w-11/12 font-semibold text-center rounded-t-lg m-5 mx-auto text-gray-50')
                    thead(class=' uppercase text-lg text-left border-b border-gray-300')
                        th(class=' px-12 py-3 text-gray-500') #
                        th(class=' px-12 py-3 text-gray-500') Platform
                        th(class=' px-12 py-3 text-gray-500') Last
                        th(class=' px-20 py-3 text-gray-500') Buy / Sell Price
                        th(class=' px-12 py-3 text-gray-500') Difference 
                        th(class=' px-12 py-3 text-gray-500') Savings
                    tbody.text-lg 
                        each item,index in data
                            tr(class='bg-gray-700 rounded-md border-b border-gray-600')
                                td(class='px-4 py-3')= index+1
                                td(class='px-4 py-3')= item.platform
                                td(class='px-4 py-3') ₹ #{item.last.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ',')}
                                td(class='px-4 py-3')  ₹ #{item.buy.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")} / ₹ #{item.sell.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")}
                                td(class='px-4 py-3') #{item.difference.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")} %
                                td(class='px-4 py-3') ₹ #{item.savings.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")}
    script(src="script.js")